<mat-form-field>
    <mat-select  msInfiniteScroll (infiniteScroll)="getNextBatch()"
      [formControl]="ctrl" 
      placeholder="Select Something"
      (valueChange)="onChange($event)">
        <mat-option>
            <ngx-mat-select-search
                [formControl]="searchCtrl"
                placeholderLabel="search"
                noEntriesFoundLabel="No entry matches">
            </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let option of options$ | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-select>
</mat-form-field>